<% content_for :title, @job_application.company_name %>

<div class="w-full pb-5">
  <div class="mx-auto">

    <%= render @job_application %>

    <div class="inline flex justify-between mt-4">
      <%= link_to "Edit", edit_job_application_path(@job_application), class: " rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= button_to "Destroy", job_application_path(@job_application), method: :delete, form: { class: "ml-2 inline-flex items-center py-3 px-5 font-medium text-center text-white bg-gray-500 rounded-lg focus:ring-4 focus:outline-none" }, data: { turbo_confirm: "Are you sure?" } %>
      <%= link_to "Back", job_applications_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  </div>
</div>
