<% content_for :title, @job_application.company_name %>

<div class="w-full pb-5" data-controller="bridge--menu">
  <div class="mx-auto">

    <%= render @job_application %>

    <div class="flex flex-row justify-between space-x-2 mt-4">
      <%= link_to "Edit", edit_job_application_path(@job_application), "data-bridge--menu-target": "edit", class: "flex-1 text-center rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium turbo-native:hidden" %>

      <%= link_to "Delete", job_application_path(@job_application), data: { turbo_method: :delete, turbo_confirm: "Are you sure?", "bridge--menu-target": "delete" }, class: "flex-1 text-center rounded-lg py-3 text-white px-5 bg-gray-500 inline-block font-medium turbo-native:hidden" %>

      <%= link_to "Back", job_applications_path, class: "flex-1 ml-2 text-center rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium turbo-native:hidden" %>
    </div>
  </div>
</div>
