<% if alert %>
  <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 w-full mb-4" data-turbo-temporary role="alert">
    <p class="font-bold">Hey!</p>
    <p><%= alert || notice %></p>
  </div>
<% end %>

<% if notice %>
  <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 w-full mb-4" data-turbo-temporary role="alert">
    <p class="font-bold">Hey!</p>
    <p><%= alert || notice %></p>
  </div>
<% end %>

