<% content_for(:title, humanized_text(@interview.interview_type)) %>

<div class="w-full pb-5">
  <div class="mx-auto" data-controller="bridge--menu">
    <%= render @interview %>

    <div class="flex flex-row justify-between space-x-2 mt-6">
      <%= link_to "Edit", edit_job_application_interview_path(@interview.job_application_id, @interview), "data-bridge--menu-target": "edit", class: "flex-1 text-center rounded-lg py-3 px-5 bg-gray-200 inline-block font-medium turbo-native:hidden" %>

      <%= link_to "Delete", job_application_interview_path(@interview.job_application_id, @interview), data: { turbo_method: :delete, "bridge--menu-target": "delete", turbo_confirm: "Are you sure?" }, class: "flex-1 text-center rounded-lg py-3 text-white px-5 bg-gray-500 inline-block font-medium turbo-native:hidden" %>

      <%= link_to "Back", job_application_path(@interview.job_application), class: "flex-1 ml-2 text-center rounded-lg py-3 px-5 bg-gray-200 inline-block font-medium turbo-native:hidden" %>
    </div>
  </div>
</div>
